:root {
	--cor1: #C36FF6;
	--cor2: #8B66D4;
	--cor3: #807BEA;
	--cor4: #667fd4;
	--cor5: #76B7F6;
}

body {
	font-family: 'Inter', sans-serif;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: rgb(27, 27, 27);
	color: white;
	overflow-y: hidden;
}

.notes {
	width: 25%;
}

.score {
	position: absolute;
	padding: 0px;
	top: 15%;
	left: 5%;
	width: 300px;
	display: block;
}

#maxCombo {
	margin-bottom: 0px;
}

.map {
	width: 400px;
	height: 100vh;
}

.path {
	height: 87vh;
	overflow: hidden;
	background-color: white;
}

.notes {
	border: 4px solid rgb(27, 27, 27);
}

#path-buttons {
	border-radius: 10px;
}

.buttons {
	height: 12vh;
	background-color: rgb(27, 27, 27);
}

.keys {
	background-color: white;
	border-radius: 80px;
	border: 1px solid black;
}

.beat {
	position: absolute;
	pointer-events: none;
	top: 0px;
	color: white;
	text-align: center;
	padding: 0px;
	background-color: rgb(27, 27, 27);
	border-radius: 50px;
	height: 75px;
	width: 75px;
}

.txt {
	margin-top: 20px;
	font-size: 1.5em;
	color: white;
} 

.hud {
	background-color: white;
	border-radius: 40px;
	padding: 0px 20px 20px 20px;
	height: 500px;
	width: 100%;
	text-align: center;
}

.info {
	color: rgb(27, 27, 27);
	margin-bottom: 0px;
	font-weight: bolder;
	font-size: 2em;
	text-align: left;
	margin-bottom: 0px;
}

.pontuacaoFinal {
	width: 50%;
	text-align: center;
	font-size: 2em;
}

.pontos {
	background-color: #8B66D4;
	border: 20px solid var(--cor5);
	border-radius: 30px;
}

#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
	justify-content: start;
	background-image: url('../img/menu.jpg');
	background-size: 100% 100%;
}

#menu div {
	width: 20%;
	height: 40%;
	margin: 10vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#menu div button {
	width: 100%;
	height: 10vh;
	border-radius: 25px;
	border: none;
	background-color: white;
}

#menu div button:hover {
	background-color: #8B66D4;
}

#menu-config {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	background-image: url('../img/menu-config.png');
	background-size: 100% 100%;
}

#button-back {
	width: 100%;
	height: 10vh;
	border-radius: 25px;
	border: none;
	background-color: white;
}

#button-back:hover {
	background-color: #8B66D4;
}

#score {
	font-size: 2.5em;
	color: rgb(27, 27, 27);
	margin-bottom: 0px;
	font-weight: bolder;
	margin-bottom: 0px;
}

.pts {
	font-size: 2em;
	color: #9c009f;
	margin-bottom: 0px;
	font-weight: bolder;
	margin-bottom: 0px;
}

hr {
	margin: 0px;
	border-color: rgb(27, 27, 27);
	border-style: dashed;
  	border-width: 2px;
}

#comboDiv {
	position: absolute;
	border-radius: 30px;
	padding-bottom: 10px;
	right: 15%;
	bottom: 20%;
	width: 200px;
	background-color: white;
}

#combos {
	text-align: center;
}

#homeBTN {
	position: absolute;
	border-radius: 0px 0px 0px 40px;
	right: 0;
	width: 80px;
	height: 80px;
	background-color: white;
}

#homeBTN p {
	font-size: 2.5em;
}