:root {
        --cor1: #C36FF6;
        --cor2: #8B66D4;
        --cor3: #807BEA;
        --cor4: #667fd4;
        --cor5: #76B7F6;
}

body {
        padding: 0px;
        margin: 0px;
        border: 0px;
        background-color: black;
        color: white;
}

.notes {
        width: 25%;
}

.score {
        position: absolute;
        font-size: 2.5em;
}

.map {
        width: 400px;
        height: 100vh;
        border: 1px solid black;
}

.path {
        height: 90vh;
        overflow: hidden;
        background-image: linear-gradient(to right, var(--cor2) 0%, var(--cor3) 50%, var(--cor1) 100%);
}

.notes {
        border: 1px solid black;
}

.buttons {
        height: 9vh;
        background-image: radial-gradient(circle at center, var(--cor4), var(--cor5));
}

.keys {
        background-color: var(--cor4);
        border-radius: 100%;
        border: 1px solid black;
}

.beat {
        position: absolute;
        top: 0px;
        color: white;
        text-align: center;
        font-size: 2em;
        background-color: black;
        border-radius: 100%;
        height: 50px;
        width: 75px;
}

.hud {
        background-image: linear-gradient(to right, var(--cor2) 0%, var(--cor3) 50%, var(--cor1) 100%);
        width: 25%;
        text-align: center;
        border: 4px solid var(--cor5);
}

.pontuacaoFinal {
        width: 50%;
        text-align: center;
        font-size: 2em;
}

.pontos {
        background-color: #8B66D4;
        border: 20px solid var(--cor5);
        border-radius: 30px;
}